<%- include("header"); -%>

<h1 style="background-color: black;">This is about my todo list</h1>
<p>This is a very good list to maintain our record to not forget anything to do</p>

<%- include("footer") -%>